{
"version": 1,
"loggers": {
        "hera.datalayer" : {
            "handlers": ["datalayer","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hera.measurements" : {
            "handlers": ["measurements","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hera.simulations" : {
            "handlers": ["simulations","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hera.bin" : {
            "handlers": ["bin","console"],
            "level": "CRITICAL",
            "propagate": false
        }
},
"handlers": {
    "console" : {
        "class": "logging.StreamHandler",
        "formatter": "brief",
        "stream": "ext://sys.stdout"
    },
    "bin" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hera_log}/bin.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "datalayer" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hera_log}/datalayer.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "measurements" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hera_log}/measurements.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "errors": {
        "class": "logging.FileHandler",
        "formatter": "default",
        "filename": "{hera_log}/Errors.log"
    },
    "simulations" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hera_log}/simulations.log",
        "maxBytes": 20000,
        "backupCount": 3
    }
},
"formatters" : {
    "brief" : {
        "format": " %(levelname)-8s: %(filename)s/%(funcName)s(%(lineno)d) %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
     },
    "default": {
        "format": "%(asctime)s %(filename)s/%(funcName)s(%(lineno)d) %(levelname)-8s %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
    }
}


}