{
"version": 1,
"loggers": {
        "argos.tests" : {
            "handlers": ["tests","console"],
            "level": "DEBUG",
            "propagate": false
        },
        "argos.kafka" : {
            "handlers": ["kafka","console"],
            "level": "EXECUTION",
            "propagate": false
        },
        "argos.bin" : {
            "handlers": ["bin","console"],
            "level": "DEBUG",
            "propagate": false
        },
        "argos.bin.kafka_runConsumersServer" : {
            "handlers": ["kafkaConsumeServer","console"],
            "level": "DEBUG",
            "propagate": false
        }
},
"handlers": {
    "console" : {
        "class": "logging.StreamHandler",
        "formatter": "brief",
        "stream": "ext://sys.stdout"
    },
    "bin" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{argos_log}/bin.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "tests" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{argos_log}/tests.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "kafka" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{argos_log}/kafka.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "kafkaConsumeServer" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{argos_log}/kafkaConsumeServer.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
},
"formatters" : {
    "brief" : {
        "format": " %(levelname)-8s: %(filename)s/%(funcName)s(%(lineno)d) %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
     },
    "default": {
        "format": "%(asctime)s %(filename)s/%(funcName)s(%(lineno)d) %(levelname)-8s %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
    }
}


}
